*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures
.externalNativeBuild
app/google-services.json
app/src/main/java/knf/kuma/commons/EAHelper.java
app/src/main/res/values/styles_colors.xml
/*.png
*.psd
*.zip
*.json
*.pepk
keys.keystore
.idea
/web/
/web/public/thumbs/
/resizer/
