<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="knf.kuma">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:requiredFeature="android.software.leanback" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.appcoins.BILLING" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.DayNight"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="knf.kuma.cast.CastOptionsProvider" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <activity
            android:name=".commons.EAMapActivity"
            android:label="@string/title_activity_eamap" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ukiku.app"
                    android:pathPrefix="/*"
                    android:scheme="http" />
                <data
                    android:host="ukiku.app"
                    android:pathPrefix="/*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="ukiku" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Main"
            android:enabled="false"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ukiku.app"
                    android:pathPrefix="/search"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tv.ui.TVMain"
            android:banner="@drawable/tv_banner"
            android:exported="true"
            android:theme="@style/AppTheme.TV.Browser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tv"
                    android:pathPrefix="/home"
                    android:scheme="ukiku" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animeinfo.ActivityAnime"
            android:enabled="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.CustomExoPlayer"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:immersive="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:exported="true"
            android:supportsPictureInPicture="true">
            <intent-filter android:label="UKIKU">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="video/mp4"
                    android:scheme="http" />
                <data
                    android:mimeType="video/mp4"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:immersive="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:exported="true"
            android:supportsPictureInPicture="true">
            <intent-filter android:label="UKIKU experimental">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="video/mp4"
                    android:scheme="http" />
                <data
                    android:mimeType="video/mp4"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animeinfo.img.ActivityImgFull"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".record.RecordActivity" />
        <activity android:name=".seeing.SeeingActivity" />
        <activity android:name=".emision.EmissionActivity" />
        <activity android:name=".explorer.ExplorerActivity" />
        <activity
            android:name=".updater.UpdateActivity"
            android:excludeFromRecents="true"
            android:exported="true" />
        <activity android:name=".random.RandomActivity" />
        <activity android:name=".changelog.ChangelogActivity" />
        <activity
            android:name=".backup.BackUpActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-qtjow4hsk06vt19" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backup.MigrationActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".recommended.RecommendActivity" />
        <activity android:name=".recommended.RankingActivity" />
        <activity android:name=".search.GenreActivity" />

        <service
            android:name=".directory.DirectoryService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".directory.DirectoryUpdateService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".download.DownloadService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".widgets.emision.WEmissionService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".download.DownloadManager"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".commons.SelfServer"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".widgets.emision.WEmisionProvider"
            android:exported="true"
            android:label="Emisión">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_emision" />
        </receiver>
        <receiver android:name=".download.DownloadReceiver" />
        <receiver android:name=".recents.RecentsNotReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_providers" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5390653757953587~9838518341" />
        <!--<meta-data
            android:name="com.google.android.gms.ads.flag.rtb_enabled"
            android:value="false"/>-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".queue.QueueActivity" />
        <activity
            android:name=".tv.streaming.TVServerSelection"
            android:theme="@style/AppTheme.TV.Guided" />
        <activity
            android:name=".tv.exoplayer.TVPlayer"
            android:theme="@style/AppTheme.TV.Base" />
        <activity
            android:name=".tv.details.TVAnimesDetails"
            android:theme="@style/AppTheme.TV.Details" />
        <activity
            android:name=".tv.search.TVSearch"
            android:theme="@style/AppTheme.TV.Base" />
        <activity
            android:name=".tv.search.TVTag"
            android:theme="@style/AppTheme.TV.Grid" />
        <activity
            android:name=".tv.directory.TVDir"
            android:theme="@style/AppTheme.TV.Grid" />
        <activity
            android:name=".tv.emission.TVEmission"
            android:theme="@style/AppTheme.TV.Browser" />
        <activity
            android:name=".download.DownloadDialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ver/"
                    android:scheme="https" />
                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/ver/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".custom.ThemedControlsActivity" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".achievements.AchievementActivity" />
        <activity android:name=".commons.EAUnlockActivity" />
        <activity
            android:name="es.munix.multidisplaycast.CastControlsActivity"
            android:screenOrientation="sensor"
            tools:node="merge"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".tv.streaming.TVMultiSelection"
            android:theme="@style/AppTheme.TV.Guided" />
        <activity android:name=".Diagnostic" />
        <activity android:name=".recents.RecentsActivity" />
        <activity android:name=".Diagnostic$FullBypass" />
        <activity android:name=".profile.TopActivity" />
        <activity android:name=".faq.FaqActivity" />
        <activity android:name=".news.MaterialNewsActivity" />
        <activity android:name=".preferences.AdsPreferenceActivity" />
        <activity
            android:name=".MainMaterial"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ukiku.app"
                    android:pathPrefix="/search"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".recents.RecentsModelActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".explorer.ExplorerActivityMaterial" />
        <activity android:name=".emision.EmissionActivityMaterial" />
        <activity android:name=".seeing.SeeingActivityMaterial" />
        <activity android:name=".queue.QueueActivityMaterial" />
        <activity android:name=".recommended.RecommendActivityMaterial" />
        <activity android:name=".recommended.RankingActivityMaterial" />
        <activity android:name=".record.RecordActivityMaterial" />
        <activity android:name=".random.RandomActivityMaterial" />
        <activity android:name=".faq.FaqActivityMaterial" />
        <activity android:name=".achievements.AchievementActivityMaterial" />
        <activity android:name=".AppInfoActivityMaterial" />
        <activity android:name=".AppInfoActivity" />
        <activity
            android:name=".animeinfo.ActivityAnimeMaterial"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".search.GenreActivityMaterial" />
        <activity android:name=".DiagnosticMaterial" />
        <activity android:name=".changelog.ChangelogActivityMaterial" />
        <activity android:name=".DiagnosticMaterial$FullBypass" />
        <activity android:name=".shortcuts.DummyMainActivity" />
        <activity android:name=".shortcuts.DummyExplorerActivity" />
        <activity android:name=".shortcuts.DummyEmissionActivity" />
        <activity android:name=".profile.TopActivityMaterial" />
        <activity android:name="com.appbrain.AppBrainActivity" />
        <activity
            android:name=".tv.streaming.StreamTvActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tv"
                    android:pathPrefix="/chapter"
                    android:scheme="ukiku" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>