<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="knf.kuma">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="ukiku.ga"
                    android:pathPrefix="/*"
                    android:scheme="http"/>
                <data
                    android:host="ukiku.ga"
                    android:pathPrefix="/get.php"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".animeinfo.ActivityAnime"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="animeflv.net"
                    android:pathPrefix="/anime/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".player.ExoPlayer"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:immersive="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".animeinfo.ActivityImgFull"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".record.RecordActivity"/>
        <activity android:name=".seeing.SeeingActivity"/>
        <activity android:name=".emision.EmisionActivity"/>
        <activity android:name=".explorer.ExplorerActivity"/>
        <activity
            android:name=".updater.UpdateActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".random.RandomActivity"/>
        <activity android:name=".changelog.ChangelogActivity"/>
        <activity
            android:name=".backup.BackUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent"/>

        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-qtjow4hsk06vt19"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".backup.MigrationActivity"
            android:theme="@style/AppTheme.Translucent"/>

        <service android:name=".directory.DirectoryService"/>
        <service android:name=".directory.DirectoryUpdateService"/>
        <service
            android:name=".downloadservice.DownloadService"
            android:process=":UKIKU.downloads"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="knf.kuma.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_providers"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8971b3733a2fd699ebd101e18ce228d80baeab92"/>
    </application>

</manifest>